.dashboard_main{
    display: flex;
    flex-direction: row;
    flex-direction: column;
    
}

.dashboard_navbar{
    position: fixed;
    width: 100%;
}
.dashboard_sidebar{
    /* flex: 0.20; */
    background-color: #4a154b;
    min-width: 220px;
    height: 100%;
    margin-top: 55px;
    display: flex;
    flex-flow: column;
    /* height: 92vh; */
    position: fixed;
    border-right: 1px solid rgb(203, 202, 202);
}

.dashboard_dashbar{
    /* flex: 0.85; */
    background-color: rgb(250, 251, 251);
    height: 100%;
    /* background: saddlebrown; */
    /* overflow-y: auto; */
    display: flex;
    margin-left: 220px;
    margin-top: 55px;
    width: 100%;
    flex-direction: column;
}

.dashboard_section2{
    display: flex;
    flex-direction: row;
}