@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.section{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: aliceblue; */
    /* position: sticky; */
   
    /* border-radius: 10px; */
}

.sidebar_menus{
    /* background-color: rgb(252, 146, 7); */
    justify-content: center;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.section li{
    list-style: none;
    font-size: 17px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.home_icon{
    font-size: 35px;
    color: rgb(0, 0, 0);  color: white;
}


.recent_icon{
    font-size: 35px;
    color: rgb(0, 0, 0);
    color: white;
}

.section:hover{
    /* background-color: #640f6a; */
    /* padding: 10px; */
    color: red;
    
    cursor: pointer;
    
}

.sidebar_container{
    justify-content: space-between;
    /* align-items: center; */
    display: flex;
    /* background-color: blueviolet; */
    height: 90%;
    /* height: 100vh; */
   
    flex-direction: column;
    border-top: 1px solid rgb(216, 216, 216);
}

.logout_menu{
    margin-bottom: 10px;
}